.c-home-page-root {
  padding: 5px 55px 0

  pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
  }

  img {
    width: 100%
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.2)
    outline: 4px solid #CC95C0
    margin-bottom: 15px
  }

  .dim {
    opacity: .3
  }
}

