.c-home-page-root {
  padding: 5px 55px 0

  pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
  }

  img {
    width: 100px
    padding: 10px 0
  }

  .dim {
    opacity: .3
  }
}

